﻿body{ font: 62.5% "Trebuchet MS", sans-serif; margin: 0px;}
.topmenu
{
    height:180px;
    background-color:White;
    background-image : url("../css/images/googleMapsLogo.png");
    width:250px;
    background-position:top;
    margin-right:10px;
    margin-top:4px;
}

.bottom
{
    background-color:White;
    /*position: absolute;*/
    top: 100px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height:auto;
    width:auto;
}
.leftmenu
{
    font-size:12px;
    width:250px;
    height:100%;
    background-color:White;
}
.content
{
    background-color:White;
    position:absolute;
    top: 0px;
    left: 250px;
    bottom: 0px;
    right: 0px;
}

.demoHeaders { margin-top: 2em; }
#A1 {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
#A1 span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
ul#icons {margin: 0; padding: 0;}
ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
ul#icons span.ui-icon {float: left; margin: 0 4px;}

#A2 {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
#A2 span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}

#A3 {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
#A3 span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}

#A4 {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
#A4 span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}

#A5 {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
#A5 span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}

#A6 {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
#A6 span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}

#A7 {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
#A7 span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}

#A8 {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
#A8 span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}

#A9 {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
#A9 span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}

#A10 {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
#A10 span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}

#A11 {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
#A11 span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}

#A12 {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
#A12 span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}